html {
    font-size: 62.5%; // 1rem is 10px
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: 'montserrat';
}

body {
    font-family: "Open Sans";
    color: #808080;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
}

@import 'layout.scss';
@import 'headernavbar.scss';

// AUTH 

@import './auth/signin.scss';
@import './auth/signup.scss';
@import './page-title.scss';
@import './form-fields.scss';
@import './page-title.scss';
@import './form-fields.scss';
@import './details.scss';

// ACCOUNT

@import './account/purchase-history.scss';
@import './account/account-information.scss';
@import './account/account.scss';

// SHOP
@import './shop/shop.scss';
@import './shop/shop-searchbar.scss';
@import './shop/shop-product.scss';


// REVIEW
@import './order/review.scss';
@import './order/reviewForm.scss';
@import './order/reviewProduct.scss';

// QUANTITY
@import './quantity.scss';
@import './green-price-tag.scss';

// CART
@import './shop/shop-cart.scss';
@import './shop/cart-product.scss';

// INFORMATION 
@import './information/payment.scss';
@import'./information/shipping.scss';
@import './information/InfoHelp.scss';